{% extends 'base/base.html' %}
{% load materializecss %}

{% block content %}

<br><br> 

<div class="container">
    <h2 class="center">Create Appointment</h2>
</div>

<!-- data-companies-url="{% url 'home:ajaxLoadComp' %}" -->
<div class="container">
    <form method="post" id="appForm" novalidate>
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <button type="submit">Create</button>
    </form>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$("#id_country").change(function () {
    var url = $("#appForm").attr("data-companies-url");
    var countryId = $(this).val();

    $.ajax({
    url: url,
    data: {
        'country': countryId
    },
    success: function (data) {
        $("#id_company").html(data);
    }
    });

});
</script> -->
<!-- 
<script>
    $(document).ready(function(){
    
      // Initialize materialize data picker
      $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
      $('select').formSelect();
    
    });
</script> -->


{% endblock content %}