{% extends 'base/base.html' %}

{% block content %}

<!-- ik that breaks are not the best practice in frontend dev, but i needed an appealing display for my backend -->
<br><br> 
<h3 class="container center">Request an appointment with our Team now!</h3>

<br><br>

<div class="center container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fMUxzrgZvZQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    
<br><br>
<div class="container center">
    <a class="waves-effect waves-light btn" href="{% url 'home:createAppointment' %}"><i class="material-icons right">send</i>Request Appointment</a>
</div>


{% endblock content %}